:root {
  --categories: 0;
  --students: 0;
  --grades-columns: 0;
  --grades-rows: 0;
}

div {
  border: solid 1px;
}

.gb-container {
  padding: 0px;
  display: grid;
  height: 100%;
  color: #1d80b8;
  font-size: 14px;
  font-family: Tahoma, Arial, sans-serif;
  grid-template-areas:
    "gb-summary    gb-assignments"
    "gb-students   gb-grades";
  grid-template-columns: 230px auto;
  grid-gap: 0px;
}