<div class="assignment" [style.borderBottomColor]="assignment.category?.color">
  <button class="btn-primary" (click)="editdialog.show()">edit</button>
  <div class="modal fade" bsModal #editdialog="bs-modal" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Assignment</h3>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default" (click)="editdialog.hide()" >Cancel</button>
          <button type="button" class="btn btn-primary" (click)="save()" >Save</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="vertical-text" [attr.title]="assignment.name" >
      {{assignment.name}}
      <br />
      {{assignment.category?.name}}
      <br />{{assignment.points}}Pts
      <small *ngIf="assignment.isExtraCredit"> (E.C)</small>
    </div>
  </div>
  <div class="max-score-badge" title="Maximum possible score">
    {{assignment.maxScore}}
  </div>
</div>