.assignment {
  display: grid;
  grid-template-rows: 1fr min-content;
  border: 1px solid #ddd;
  text-align: left;
  border-bottom: 4px solid;
  border-radius: 4px;
}

.max-score-badge {
  width: 45px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #1d80b8;
  border-radius: 3px;
  line-height: 10px;
  margin-bottom: 4px;
  padding: 4px 6px 4px 6px;
  margin: 0 auto 3px auto;
}

.vertical-text {
  text-align: center;
  width: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  white-space: nowrap;
  transform: rotate(-90deg);
  margin-top: 75px;
}